<p>
	<label><%= l(:label_coassign_custom_field_id) %></label>
	<%= text_field_tag('settings[coassign_custom_field_id]', @settings[:coassign_custom_field_id], :type => 'number') %>
</p>
<p>
	<label><%= l(:label_coassign_role_id) %></label>
	<%= text_field_tag('settings[coassign_role_id]',         @settings[:coassign_role_id], :type => 'number') %>
</p>
